@model IEnumerable<ListaDeRamais.E2.Models.Ramais>

@{
    ViewData["Title"] = "Index";
}



<div class="container Cards">
    <div class="card-body mb-lg-5 p-lg-5" id="card-body">

        <div class="container position-sticky z-index-sticky ">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xxl  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                        <div class="container-fluid">
                            <h4>Ramais</h4>

                            <p>
                                <a class="btn_botoes" asp-action="CriarRamais">Criar novo Ramal</a>
                            </p>
                            <div class="container d-table-cell p-3">
                                <div class="container small">
                                    <form asp-controller="Ramais" asp-action="Index" method="post">
                                        <input class="form-control " name="ProcurarEmRamais" />
                                        <button type="submit" class="btn_botoes">Pesquisar</button>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <h6>Numero do Ramal</h6>
                            </th>
                            <th>
                                <h6> Senha</h6>
                            </th>

                            <th>
                                <h6>Departamento</h6>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumeroRamal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Senha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoDepFkNavigation.Nome)
                                </td>
                               
                                <td>
                                    <a class="btn_botoes" asp-action="AtualizarRamais" asp-route-id="@item.CodigoRamalId">Atualizar</a>
                                    <a class="btn_botoes" onclick="alertaExcluir()" asp-action="ExcluirRamais" asp-route-id="@item.CodigoRamalId">Excluir</a>
                                    <!-- Button trigger modal -->
                                    <i class='bx bxs-info-circle' style='color:#352a7a' data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Atenção !!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Caso o ramal esteja vinculado a algum funcionário, o vínculo será excluído junto com o ramal.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn_botoes" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>
