@model IEnumerable<ListaDeRamais.E2.Models.Ramais>

@{
    ViewData["Title"] = "Index";
}



<div class="container Cards">
    <div class="card-body mb-lg-5 p-lg-5" id="card-body">
        <p>
            <a class="btn_botoes" asp-action="CriarRamais">Criar novo Ramal</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                       <h6>Numero do Ramal</h6>
                    </th>
                    <th>
                       <h6> Senha</h6>
                    </th>
                    <th>
                       <h6>Endereço de IP</h6>
                    </th>
                    <th>
                        <h6>Departamento</h6>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroRamal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Senha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HostIp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoDepFkNavigation.Nome)
                        </td>
                        <td>
                            <a class="btn_botoes" asp-action="AtualizarRamais" asp-route-id="@item.CodigoRamalId">Atualizar</a> |
                            <a class="btn_botoes" asp-action="ExcluirRamais" asp-route-id="@item.CodigoRamalId">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</div>